<ion-view view-title="ngCordova Development App">
  <ion-content class="padding">
    <h2>Name: {{device.name}}</h2>
    <div ng-if="shouldShowConnected()">
      <p>ID: {{device.id}}</p>
      <p>RSSI: {{device.rssi}}</p>
      <p>Is Connectable: {{device.advertising.kCBAdvDataIsConnectable}}</p>
    </div>
    <button ng-if="shouldShowConnected()" class="button button-full button-positive" ng-click="connectDevice()">Connect</button>
    <button ng-if="shouldShowSelecting()" class="button button-full button-assertive" ng-click="disconnectDevice()">Disconnect</button>
    <p ng-if="shouldShowSelecting()">Service to read:</p>
    <ion-list>
      <ion-item ng-if="shouldShowSelecting()" ng-repeat="data in deviceData" type="item-text-wrap" ng-click="notifyMe(data)">
        <h2>Service UUID: {{data.service}}</h2>
        <h2>Characteristic UUID: {{data.characteristic}}</h2>
      </ion-item>
    </ion-list>
    <h2 ng-if="shouldShowReading()">value: {{dataValue}}</h2>
  </ion-content>
</ion-view>
