<ion-view hide-nav-bar="true" class="motion">
  <ion-content class="padding" scroll="true">
    <div id="main" style="width:100%">
      <svg ng-attr-height="{{svgHeight}}" ng-attr-width="{{width}}">
        <!-- <circle
          ng-attr-cx="{{singleCircle.x}}"
          ng-attr-cy="{{singleCircle.y}}"
          ng-attr-r="{{singleCircle.r}}"
          fill="#6DB3B5"
          fill-opacity="1">
        </circle> -->
        <circle ng-repeat="circle in circles"
          ng-attr-cx="{{circle.x}}"
          ng-attr-cy="{{circle.y}}"
          ng-attr-r="{{circle.r}}"
          fill="#6DB3B5"
          fill-opacity="{{circle.opacity}}">
        </circle>
      </svg>
      <svg ng-attr-height="{{chartHeight}}" ng-attr-width="{{width}}">
        <path class="line" ng-attr-d="{{line(data)}}"></path>
      </svg>
    </div>
    <!-- <p>width: {{width}}</p>
    <p>height: {{fullHeight}}</p> -->
    <!-- <p>data: {{data}}</p> -->
    <!-- <p>data: {{data1}}</p> -->
    <!-- <div class="list card">
      <div class="item item-divider">Acceleration</div>
      <div class="item item-body">
        <div>X: {{X}}</div>
        <div>Y: {{Y}}</div>
        <div>Z: {{Z}}</div>
        <div>Time: {{timeStamp}}</div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
