<ion-view view-title="ngCordova Development App">
  <ion-header-bar class="bar-light bar-subheader">
    <button class="button button-full button-stable button-block" ng-click="refreshDevices()">Refresh List</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
        <ion-item ng-repeat="device in devices" type="item-text-wrap" href="#/tab/devices/{{device.id}}">
          <h2>Name: {{device.name}}</h2>
          <p>ID: {{device.id}}</p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
