<ion-view view-title="ngCordova Development App">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Acceleration</div>
      <!-- <nvd3-scatter-chart
            data="exampleData"
            id="exampleId"
            height="400"
            width="355"
            forceX=[-9.9,9.9]
            forceY=[-9.9,9.9]
            showXAxis="true"
            showYAxis="true"
            pointRange=[250,250]
            margin="{left:25, top:25, bottom:25, right:25}"
            >
        	<svg></svg>
      </nvd3-scatter-chart> -->
      <!-- <nvd3-scatter-chart
            data="exampleData"
            width="550"
            height="400"
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()">
        	<svg></svg>
      </nvd3-scatter-chart> -->
      <!-- <nvd3 options="options" data="data"></nvd3> -->
      <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
      	<circle ng-repeat="circle in circles"
      		ng-attr-cx="{{circle.x}}"
      		ng-attr-cy="{{circle.y}}"
      		ng-attr-r="{{circle.r}}">
      	</circle>
      </svg>
      <div class="item item-body">
        <div>X: {{X}}</div>
        <div>Y: {{Y}}</div>
        <div>Z: {{Z}}</div>
        <!-- <div>Time: {{timeStamp}}</div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
